
html {
  background: url("../background-login.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
    background-color: transparent;
    display: table;
    height: 100%;
    width: 100%;
}
