//   ==========================================================================
//     MODIFICACIONS GENWEB
//   ==========================================================================

#portal-header h1.pull-left {
  // Override the media query for retina images.
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
      height: 46px;
      width: 207px;
      background: url('/++ulearn++static/images/logo-upcnet-ulearn-ca.png') no-repeat;
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
    }
}

h1, h2, h3, label {
    color: #F58D3D;
}

// #portal-column-content {background-color: white;}

#portlet-prefs, .documentEditable,
.template-overview-controlpanel #content {
     padding: 10px;
     background-color: white;
}

.liniaDalt, .tileHeadline {
    border-top: 1px solid #DDDDDD;
    box-shadow: none;
    padding: 10px 0;
}
.liniaBaix, .documentFirstHeading {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: none;
    margin: 0 0 15px;
    padding: 0 0 5px;
}

.content_edit .rowlike {padding: 10px;}
.nav-tabs, .contentViews, .configlets {
 box-shadow: none;
}
#portal-header .container {
    border-top: 0 none;
    margin-bottom: 15px;    ;
    margin-top: 0;
    border-bottom:0;
}
#content-area {
    margin-top: 1.7em;
    }
[class*="span"], .cella {
    margin-bottom: 0;
}
#portal-breadcrumbs {
    margin-bottom: -15px;
    margin-top: -15px;
}
.template-homepage #portal-breadcrumbs {
    margin-bottom: 0;
    margin-top: 0;
}
#eines .input-append {
    border-left: 0;
    }
#edit-bar, .formTabs {
font-size:12px;
}
#edit-bar a, .formTabs a {text-decoration:none;}
