@import "mixins";

// The green alternate version, for the record:
// $main-color: #017000;
// $secondary-color: #24A33B;
// $maxui-form-bg: #DEDED6;
// $alt-gradient-start-color: #27B040;
// $alt-gradient-end-color: #229A38;
// $background-property: transparent;
// $background-color: #eae9e4;
// $buttons-color-primary: #24a33b;
// $buttons-color-secondary: #017000;

// Main

body {
  background: $background-property $background-color;
}

a {
  color: $secondary-color;
}

#portal-header {
  @include gradient-vertical($startColor: $alt-gradient-start-color, $endColor: $alt-gradient-end-color);
}

.osomcorner {
  background-color: $background-color;
}

.ulearnbox h2 {
    color: $secondary-color;
}

#peu {
  background-color: $main-color;
}

#peu .container {
  background-color: $main-color;
}

.num {
    background: none repeat scroll 0 0 $main-color;
}

#menusup {
  nav {
    .active {
      .arrow {
        border-top-color: $main-color;
      }

      &, a, a:hover {
        background:$main-color !important;
      }
    }
  }
}

#day {
  background: none repeat scroll 0 0 $main-color;
  text-shadow: 1px 1px 0 $secondary-color;
  .arrow { border-left-color: $main-color; }
}

.todayevent{ background:$main-color; }

#communitylist {
  a {
    h4 { color: $main-color; }
    }
  img {
    &:hover {border:2px solid $main-color;}
  }
}

#box_comunitats {
  .bubble-content {
    background: none repeat scroll 0 0 $main-color;
  }
  .bubble {
    .arrow { border-right-color: $main-color; }
  }
}

input[type="text"] {
  border-color: $main-color;
}

input[type="text"]:focus {
  border-color: $secondary-color;
}

.box_badges {
  color: $main-color;
}

// .novetat { background: none repeat scroll 0 0 $secondary-color; }

#box_agenda {
  li {
    i { color: $secondary-color; }
  }
}

#communitylist {
    .eines {
        color: $secondary-color;
    }
}

.btn-comunitat {
  background-image: none;
  background-color: $buttons-color-primary;
}
.btn-comunitat:hover,
.btn-comunitat:active,
.btn-comunitat.active,
.btn-comunitat.disabled,
.btn-comunitat[disabled] {
  color: #FFFFFF;
  background-image: none;
  background-color: $buttons-color-secondary;
  *background-color: $buttons-color-secondary;
}

#box_stats {
  .bubble {
    background-color: $main-color;
    .arrow {
      border-left-color: $main-color;
    }
  }
}

// MAXUI
#maxui-container a {
  color: $secondary-color;
}
.maxui-displayname {
  color: $secondary-color;
}
input.maxui-button {
  background: none repeat scroll 0 0 $secondary-color;
}
#maxui-container textarea:focus, #maxui-container input[type="search"]:focus {
  border: 1px solid $secondary-color !important;
}
#maxui-container a:hover {
  color: $secondary-color;
}
#maxui-newactivity {
  background: none repeat scroll 0 0 $maxui-form-bg;
}
// #maxui-search { background: none repeat scroll 0 0 #f7f7f7; }

#maxui-more-activities input.maxui-button {
  color: $secondary-color;
}

// OVERRIDES
h1, h2, h3, label, span.label, fieldset legend {
  color: $secondary-color;
}

#maxui-container .maxui-actions {
  a.maxui-action.maxui-likes.maxui-liked,
  a.maxui-action.maxui-likes.maxui-liked:before {
    color: $secondary-color;
  }
  a.maxui-action.maxui-likes.maxui-liked:hover:before {
    color: #3B5998;
  }
  a.maxui-action.maxui-favorites.maxui-favorited,
  a.maxui-action.maxui-favorites.maxui-favorited:before {
    color: $secondary-color;
  }
  a.maxui-action.maxui-commentaction {
    color: $secondary-color;
  }
  a.maxui-action.maxui-flag.maxui-flagged:before {
      color: $secondary-color;
  }
  a.maxui-action.maxui-flag.maxui-flagged {
      color: $secondary-color;
  }
  a.maxui-action.maxui-flag:hover:before {
      color: $secondary-color;
  }
  a.maxui-action.maxui-favorites.maxui-favorited:hover,
  a.maxui-action.maxui-likes.maxui-liked:hover,
  a.maxui-action.maxui-commentaction:hover {
    color: #444;
  }
}

.portletCalendar .ploneCalendar td.cal_has_events .popover-content a {
  color: $secondary-color;
  text-shadow: 0 -1px $secondary-color;
}

.portletCalendar .ploneCalendar td.cal_has_events {
  background: $secondary-color;
  font-weight: bold;
  text-shadow: 0 -1px $secondary-color;
}
