$fontAwesomePath: "/++genweb++static/fonts";
@import "compass_twitter_bootstrap/font-awesome";
@import "token-input-facebook";
@import "maxui";
@import "overrides";
@import "hidden";
@import "arrows";
// @import "genwebupc";

// Victor for pushing it to genweb.theme

// .pb-ajax {
//   @extend .modal;
// }

// .pb-ajax .documentFirstHeading {
//   @extend .modal-header;
// }

// .pb-ajax #content-core {
//   @extend .modal-body;
// }

// Marc's CSS

body {
  background:#eae9e4;
  font-family: 'Open Sans', sans-serif;
}

input, button, select, textarea {
  font-family: 'Open Sans', sans-serif;
}
#portal-personaltools-wrapper { margin-top: 36px !important; }

#portal-header {
  border-top: none;
  border-bottom: none;
  background:#f58d3d !important;
}

.ulearnbox h2 {
    color: #f58d3d;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    padding: 0;
}
a {
  color: #007BC0;
//  text-decoration: underline; Victor
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  }
a:hover {
    color: #004A74;
    text-decoration: none; }
a:hover, a:focus {
    color: #004A74;
    text-decoration: underline;
}
a:hover, a:active {
    outline: 0 none;
}

.masthead {
  // background-color: #f58d3d;
  margin-bottom: 0;
  padding: 15px 20px;
  // box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 0 #DDDDDD;
}

.dropdown-menu a {
  text-decoration:none;
  }

// .span6 {
// background:white;
//   }

#peu {
  background-color: #f58d3d;
  border-top: none;
  a {
    color: white;
  }
}

#peu .container {
  border-top: none;
  background-color: #f58d3d;
  // padding:20px;
  font-size:13px;
  color:white;
  margin-top:20px;
  // box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 0 #DDDDDD;
}

#peu .inner { padding: 20px;}

input[type="text"] {
    border-color: #E76E10;
    margin-right: 5px;
    padding: 4px 0 4px 10px;
}
input[type="text"]:focus {
border-color: #34495E;
}

.ulearnbox {
  background:url("/++ulearn++static/images/pix_cantonada.png") no-repeat right top white;
  padding: 5px 10px 10px;
  clear:both;
  margin-bottom:20px;
  box-shadow: -1px 1px 2px #ddd;
  }
.ulearnbox a {text-decoration:none;}
#badges {
  background:white;
  }
.box_badges {
    background: none repeat scroll 0 0 #f58d3d;
    color: white;
    float: left;
    font-size: 23px;
    height: 28px;
    margin-bottom: 6px;
    margin-right: 2px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}
.box_badges:hover {opacity:0.8;cursor:pointer;margin-left: 3px;transition: all 0.25s ease 0s;}
.novetat {
   background: none repeat scroll 0 0 #34495E;
  }
#user {
    color: #666666;
    font-size: 0.8em;
    margin-bottom: 5px;
}
#user p {
  margin-bottom:0;
  }

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #DEDED6;
}
.nav-pills > li > a {
    background: none repeat scroll 0 0 #DEDED6;
  color:#34495E;
  text-decoration:none;
  text-shadow:1px 1px 0px white;
  outline:none;
}
#box_comunitats .nav {
    margin-bottom: 10px;
    margin-top: 10px;
}
.num {
    background: none repeat scroll 0 0 #f58d3d;
    border-left: 1px solid #eee;
    border-radius: 0 5px 5px 0;
    color: white;
    float: right;
    font-weight: bold;
    height: 18px;
    margin-right: -11px;
    margin-top: -8px;
    padding: 7px 5px 5px;
    text-align: center;
    text-shadow: 1px 1px 0 #92480F;
    width: 33px;
}
.num:hover {opacity:0.8;}
.icons {margin-right:4px;}
#miniatures {
  margin-top:10px;
  }
#miniatures img {
    height: 60px;
    overflow: hidden;
    padding-bottom: 7px;
    padding-right: 4px;
    width: 60px;
  transition: all 0.10s ease 0s;
}
#miniatures img:hover {opacity:0.8;}

#menusup {
    height: 49px;

    nav {
        border-bottom:0;
        margin-bottom:0;

        .bubble {
            background:#DEDED6;

            .arrow {
                border-top-color: #DEDED6;
            }

            &:hover {
                // background:#EEEEEE;
            }
        }

        .bubble-content {padding: 7px 0px 8px 0px;}

        a {
            display: block; //Make a fills all div parent
            text-align: center;
            background:#DEDED6;
            color:#444;
            border-radius:0;
            border:0;
            text-shadow:1px 1px 0px white;
            text-decoration:none;
            margin:0;
            -webkit-transition: 0s;
            -moz-transition: 0s;
            -o-transition: 0s;
            transition: 0s;

            &:hover {
                // background:#EEEEEE;
                color: #000;
                // text-shadow:1px 1px 0px #DEDED6;
            }
        }

        .active {
            .arrow {
                border-top-color: #f58d3d;
                display: block;
            }

            &, a, a:hover {
                background:#f58d3d !important;
                color:white;
                text-shadow:none;
            }
        }

    }
}

#menusup .nav-tabs {
  border-bottom:0;
  margin-bottom:0;
  }
#menusup .nav-tabs > li > a {
  background:#DEDED6;
  color:#444;
  border-radius:0;
  border:0;
  padding-right:15px;
  padding-left:7px;
  text-shadow:1px 1px 0px white;
  text-decoration:none;
  margin:0;
  }
#menusup .nav-tabs > .active > a, #menusup .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
background:#f58d3d;
color:white;
text-shadow:none;
    }
#menusup .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background:#EEEEEE;
   transition: all 0.25s ease 0s;
  }
#menusup .icons {font-size:20px;}

#day {
  background: none repeat scroll 0 0 #f58d3d;
  // border-radius: 4px 4px 4px 4px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 7px;
  padding-top: 13px;
  text-align: center;
  text-shadow: 1px 1px 0 #92480F;
  margin-bottom:0;

  .arrow { border-left-color: #f58d3d; }
}

#day p { margin:0; }
.data { font-size:13px;padding-top:6px; }

#agenda {
  background:#f5f5f5;
  font-size:12px;
  margin-top:10px;
}

#esdev {
  line-height: 13px;
  padding: 8px 4px 0 2px;
	margin-bottom:0;

  .vertical_aligned { display: table; height: 62px; }
  a { display: table-cell; vertical-align: middle; }
}

#calendari {
    background: none repeat scroll 0 0 #F5F5F5;
    margin-top: 10px;
    padding: 5px 5px 10px;
    text-shadow: 1px 1px 0 white;

    td {
      text-align: center;
    }
}

#box_agenda .hiddenStructure {
    background: none repeat scroll 0 0 #EAE9E4;
    color: black;
    margin-bottom: 5px;
    padding: 1px;
}

#box_agenda {
  .newevent { margin-top: 15px; }
}

.weekdays {font-size:11px;}
.ploneCalendar {width:100%;font-size:13px;}
.event { text-shadow:none; }
.event:hover { background:#fff; }
.todayevent{ background:#007BC0;text-shadow:none;text-align:center;border-radius:2px; }
.event a { color:#555;font-weight:normal; }
.todayevent a { color:#fff; }

#box_valorats ul, #box_comentaris ul { margin-top:10px;margin-left:25px; }

#box_valorats li a:hover, #box_comentaris li a:hover {text-decoration:underline;}

#box_valorats li, #box_comentaris li {
    border-bottom: 1px solid #EEEEEE;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
#box_valorats i, #box_comentaris i {
 color:#34495E;
 font-size:15px;
 vertical-align: middle;
}

.btn-comunitat {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #34495E;
  *background-color: #34495E;
  background-image: -moz-linear-gradient(top, #3c546c, #34495E);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3c546c), to(#34495E));
  background-image: -webkit-linear-gradient(top, #3c546c, #34495E);
  background-image: -o-linear-gradient(top, #3c546c, #34495E);
  background-image: linear-gradient(to bottom, #3c546c, #34495E);
  background-repeat: repeat-x;
  border-color: #34495E;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c546c', endColorstr='#34495E', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 10px;
  padding-top: 10px;
  width:100%;
}
.btn-comunitat:hover,
.btn-comunitat:active,
.btn-comunitat.active,
.btn-comunitat.disabled,
.btn-comunitat[disabled] {
  color: #FFFFFF;
  background-color: #34495E;
  *background-color: #003bb3;
}
#menusup .nav-tabs > .btn-plus > a {
    background: none repeat scroll 0 0 #34495E;
    color: white;
    padding-left: 10px;
    padding-right: 5px;
    text-shadow: none;
}
#menusup .nav-tabs > .btn-plus > a:hover {
    background: none repeat scroll 0 0 #34495E;
    opacity: 0.8;
}

#communitylist {
    padding: 10px;
    font-size: 13px;
    color: #555;
    text-shadow: 1px 1px 0px white;
    background:#f9f9f9;

    .eines {
        color: #34495E;
        float: right;
        font-size: 18px;
        margin: 0 10px 50px;
        text-decoration: none;
    }

    ul {
        margin-left: 0;
        list-style: none;
    }

    li {
        min-height: 55px;
        line-height: 20px;
        border-bottom: 1px solid #DDDDDD;
        margin-bottom: 0;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-top: 10px;
        background:#f9f9f9;
        box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 0 #DDDDDD;
    }

    a {
        color: #555;
        text-decoration:none;

        h4 {
            color: #F58D3D;
            font-size: 16px;
            margin-bottom: 0;
            margin-top: 0;

            &:hover {opacity:0.8;}
        }
    }

    img {
        margin-right: 15px;
        margin-top: 3px;
        border:2px solid white;
        max-width: 54px;

        &:hover {transition: all 0.25s ease 0s;border:2px solid #F58D3D;}
    }

    .item { margin-right: 50px}

}

// Afegida la icona a tot arreu.
.icon-ulearn-community, .icon-ulearn.community { background-position: -312px -192px; }
#listing-table a.contenttype-ulearn-community:before,
.template-folder_tabular_view .listing a.contenttype-ulearn-community:before {
  background-position: -312px -192px;
}

#box_perfil .span9 {overflow-y: hidden; height: 150px;}
#box_community img {width: 200px;}

#searchcommunities {margin-right: auto; margin-left: auto; width: 300px;}

#box_comunitats {
  .bubble-content { padding: 6px 0px }
  .bubble {
    a {
      background: none repeat scroll 0 0 #f58d3d;
      padding: 6px 14px ;
      color: white;
      font-weight: 600; // Semi-bold
      height: 18px;
      text-align: center;
      // text-shadow: 1px 1px 0 #92480F;
      width: 33px;
    }
    .arrow { border-right-color: #f58d3d; }
  }

  li a { @include border-radius(0px); }
}

.bubble.top .arrow:after { border-top-color: transparent; }
.bubble.right .arrow:after { border-right-color: transparent; }
.bubble.left .arrow:after { border-left-color: transparent; }

#box_stats {
  .bubble-content { padding: 5px 12px; text-align: center; }
  .bubble {
    background-color: #344961;
    color: white;
    width: 60px;
    .arrow { border-left-color: #344961; }
  }
  p {
    margin: 0;
    padding: 5px 0 5px 78px;
    background-color: #bbb;
    font-weight: bold;
  }
  ul { margin-top: 5px; }
  li {
    margin-bottom: 5px;
  }
}

#addModal {
  .modal-body { max-height: 426px; }
  #content-core { height: 426px; }
}
