$fa-font-path: "/++components++root/fontawesome/fonts";
@import "fontawesome/scss/font-awesome";
// @import "select2";
// @import "maxui";
@import "overrides";
@import "hidden";
@import "arrows";
@import "login";
@import "templates";
@import "plugins";
@import "iefixes";
// @import "genwebupc";

// Victor for pushing it to genweb.theme

// .pb-ajax {
//   @extend .modal;
// }

// .pb-ajax .documentFirstHeading {
//   @extend .modal-header;
// }

// .pb-ajax #content-core {
//   @extend .modal-body;
// }

// Marc's CSS

body {
  background:#eae9e4;
  font-family: 'Open Sans', sans-serif;
}

input, button, select, textarea {
  font-family: 'Open Sans', sans-serif;
}
#portal-personaltools-wrapper { margin-top: 36px !important; }

#portal-header {
  border-top: none;
  border-bottom: none;
  background:#f58d3d;
}

.ulearnbox h2 {
    color: #f58d3d;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    padding: 0;
}
a {
  color: #007BC0;
//  text-decoration: underline; Victor
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  }
a:hover {
    color: #004A74;
    text-decoration: none; }
a:hover, a:focus {
    color: #004A74;
    text-decoration: underline;
}
a:hover, a:active {
    outline: 0 none;
}

.masthead {
  margin-bottom: 0;
  // padding: 15px 20px;
  h1 {
    margin: 0;
  }
  #eines {
    margin-top: 25px;
    .typeahead {z-index: 1011;}
    .typeahead li a {font-size: 13px;}
    .add-on {
      color: #888888;
      background-color: white;
      border: none;
      font-size: 15px;
      position: relative;
      right: 28px;
      top: 2px;
      z-index: 10;
      padding:2px;
    }
  }
}

#eines input.cercaupc { width: 158px !important; }

.dropdown-menu a {
  text-decoration:none;
  }

// .span6 {
// background:white;
//   }

#peu {
  background-color: #f58d3d;
  border-top: none;
  a {
    color: white;
  }
}

#peu .container {
  border-top: none;
  background-color: #f58d3d;
  // padding:20px;
  font-size:13px;
  color:white;
  margin-top:20px;
  // box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 0 #DDDDDD;
}

#peu .inner { padding: 20px;}

input[type="text"] {
    border-color: #E76E10;
    margin-right: 5px;
    padding: 4px 0 4px 10px;
}
input[type="text"]:focus {
border-color: #34495E;
}

.ulearnbox {
  // background: url("../pix_cantonada.png") no-repeat right top white;
  background-color: white;
  position: relative;
  padding: 10px;
  clear:both;
  margin-bottom:20px;
  box-shadow: -1px 1px 2px #ddd;

  ul:last-child,
  p:last-child {
    margin-bottom: 0px;
  }
}

.ulearnbox a {text-decoration:none;}

.lt-ie9 .osomcorner-wrapper,
.lt-ie8 .osomcorner-wrapper,
.lt-ie7 .osomcorner-wrapper { display: none; }

.osomcorner-wrapper {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.osomcorner {
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 27px 0;
  left: 0px;
  top: 15px;
  width: 230px;
}

#badges {
  background:white;
  }

// .badges { margin-top: 10px;}

.box_badges {
  // color: #f58d3d;
  float: left;
  padding-top: 10px;
  margin-right: 7px;
  // font-size: 17px;
  // height: 32px;
  // margin-bottom: 7px;
  // text-align: center;
  // width: 100%;

  &:last-child { margin-right: 0px; }
  // i { padding: 7px 0 0 0px; display: block; }
  &:hover { opacity:0.8; cursor:pointer; padding-top: 5px; transition: all 0.25s ease 0s; }
}

.type1 {
    background: url("/++ulearn++static/images/badge1.png") no-repeat 7px;
}
.type2 {
    background: url("/++ulearn++static/images/badge2.png") no-repeat 7px;
}
.type3 {
    background: url("/++ulearn++static/images/badge3.png") no-repeat 7px;
}

.type1.notawarded {
   background: url("/++ulearn++static/images/badge1_gris.png") no-repeat 7px;
   color: #bfbfbf;
}
.type2.notawarded {
   background: url("/++ulearn++static/images/badge2_gris.png") no-repeat 7px;
   color: #bfbfbf;
}
.type3.notawarded {
   background: url("/++ulearn++static/images/badge3_gris.png") no-repeat 7px;
   color: #bfbfbf;
}

#user {
    color: #666666;
    font-size: 0.8em;
    margin-bottom: 5px;
}
#user p {
  margin-bottom:0;
  }

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #DEDED6;
}
.nav-pills > li > a {
    background: none repeat scroll 0 0 #DEDED6;
  color:#34495E;
  text-decoration:none;
  text-shadow:1px 1px 0px white;
  outline:none;
}
#box_comunitats .nav {
    margin-bottom: 10px;
    margin-top: 10px;
}
.num {
    background: none repeat scroll 0 0 #f58d3d;
    border-left: 1px solid #eee;
    border-radius: 0 5px 5px 0;
    color: white;
    float: right;
    font-weight: bold;
    height: 18px;
    margin-right: -11px;
    margin-top: -8px;
    padding: 7px 5px 5px;
    text-align: center;
    text-shadow: 1px 1px 0 #92480F;
    width: 33px;
}
.num:hover { opacity:0.8; }
// .icons { margin-right:4px; }
// ul.icons { text-indent: -.75em; }
#miniatures {
  margin-top:10px;
}
.thinnker {
  height: 44px;
  overflow-y: hidden;
  display: inline-block;
  margin-bottom: 5px;
  padding-right: 5px;
}
#miniatures img {
    max-width: 44px;
    transition: all 0.10s ease 0s;
}
#miniatures img:hover {opacity:0.8;}

// Menu superior central
#menusup {
    height: 49px;
    max-width: 474px;

    nav {
        border-bottom:0;
        margin-bottom:0;

        .bubble {
            background:#DEDED6;

            .arrow {
                border-top-color: #DEDED6;
            }

            &:hover {
                // background:#EEEEEE;
            }
        }

        .bubble-content { padding: 0; } //Delegate all body to anchor (as display: block)

        a {
            display: block; //Make a fills all div parent
            padding: 8px 0;
            text-align: center;
            background:#DEDED6;
            color:#444;
            border-radius:0;
            border:0;
            text-shadow:1px 1px 0px white;
            text-decoration:none;
            margin:0;
            outline: none;
            -webkit-transition: 0s;
            -moz-transition: 0s;
            -o-transition: 0s;
            transition: 0s;

            &:hover {
                // background:#EEEEEE;
                color: #000;
                // text-shadow:1px 1px 0px #DEDED6;
            }
        }

        .active {
            .arrow {
                border-top-color: #f58d3d;
                display: block;
            }

            &, a, a:hover {
                background:#f58d3d !important;
                color:white;
                text-shadow:none;
            }
        }

        i { margin-right: 3px; }

    }
}

// Calendari
#day {
  background: none repeat scroll 0 0 #f58d3d;
  // border-radius: 4px 4px 4px 4px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 7px;
  padding-top: 13px;
  text-align: center;
  text-shadow: 1px 1px 0 #92480F;
  margin-bottom:0;

  .arrow { border-left-color: #f58d3d; }
  .bubble-content { padding: 9px; }
}

#day p { margin:0; }
.data { font-size:13px;padding-top:6px; }

#agenda {
  background:#f5f5f5;
  font-size:12px;
  margin-top:10px;
}

#esdev {
  line-height: 13px;
  padding: 8px 4px 0 2px;
	margin-bottom:0;

  .vertical_aligned { display: table; height: 62px; }
  a { display: table-cell; vertical-align: middle; }
}

#calendari {
    background: none repeat scroll 0 0 #F5F5F5;
    margin-top: 10px;
    padding: 5px 5px 10px;
    text-shadow: 1px 1px 0 white;

    td {
      text-align: center;
    }
}

#box_agenda .hiddenStructure {
    background: none repeat scroll 0 0 #EAE9E4;
    color: black;
    margin-bottom: 5px;
    padding: 1px;
}

#box_agenda {
  .newevent { margin-top: 15px;
    a { padding: 10px 0}
    i { margin-right: 3px; }
  }
  ul { list-style: none; margin: 10px 0 0 0; }
  li {
    border-bottom: 1px solid #EEEEEE;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    a {
      padding-left: 10px;
    }

    i { color: #34495E; }
  }
}

.weekdays {font-size:11px;}
.ploneCalendar {width:100%;font-size:13px;}
.portletCalendar .ploneCalendar {font-size:13px;}
.portletCalendar .portletHeader { text-align: center; font-size: 14px; }
// .event { background-color: #384e65; text-shadow:none; border-right: 1px solid white; }
.cal_has_events {
  background-color: #384e65;
  text-shadow:none;
  .popover-content a { display: block; }
}
.cal_prev_month, .cal_next_month { opacity: 0.5; }
.today { font-weight: bold; }
// .event:hover { background:#fff; }
.todayevent{ background:#f58d3d; text-shadow:none; text-align:center; border-right: 1px solid white; }
// .event a { color: white; font-weight:normal; }
.todayevent a { color:#fff; }


// Botó blau
.btn-comunitat {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #34495E;
  *background-color: #34495E;
  background-image: -moz-linear-gradient(top, #3c546c, #34495E);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3c546c), to(#34495E));
  background-image: -webkit-linear-gradient(top, #3c546c, #34495E);
  background-image: -o-linear-gradient(top, #3c546c, #34495E);
  background-image: linear-gradient(to bottom, #3c546c, #34495E);
  background-repeat: repeat-x;
  border-color: #34495E;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c546c', endColorstr='#34495E', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 10px;
  padding-top: 10px;
  width:100%;
}
.btn-comunitat:hover,
.btn-comunitat:active,
.btn-comunitat.active,
.btn-comunitat.disabled,
.btn-comunitat[disabled] {
  color: #FFFFFF;
  background-color: #34495E;
  *background-color: #003bb3;
}

// Listat de comunitats
#communitylist {
    // padding: 10px;
    min-height: 10px;
    font-size: 13px;
    color: #555;
    text-shadow: 1px 1px 0px white;
    // background:#f9f9f9;

    .eines {
        color: #34495E;
        font-size: 18px;
        text-decoration: none;

        i {padding-right: 2px}
    }

    ul {
        margin-left: 0;
        list-style: none;
    }

    li {
        min-height: 55px;
        line-height: 20px;
        border-bottom: 1px solid #DDDDDD;
        margin-bottom: 0;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-top: 10px;
        background: none repeat scroll 0 0 #FFFFFF;
        box-shadow: none;
    }

    a {
        color: #555;
        text-decoration:none;

        h4 {
            color: #F58D3D;
            font-size: 16px;
            margin-bottom: 0;
            margin-top: 0;

            &:hover {opacity:0.8;}
        }
    }

    img {
        margin-top: 3px;
        border:2px solid white;
        max-width: 54px;

        &:hover {transition: all 0.25s ease 0s;border:2px solid #F58D3D;}
    }

}

// Afegida la icona de comunitats a tot arreu.
.icon-ulearn-community, .icon-ulearn.community { background-position: -312px -192px; }
#listing-table a.contenttype-ulearn-community:before,
.template-folder_tabular_view .listing a.contenttype-ulearn-community:before {
  background-position: -312px -192px;
}

#box_perfil {
  .photo {
    overflow-y: hidden; height: 202px;
    // &:hover {
    //   border: 1px solid #f58d3d;
    //   img {margin:-1px;}
    // }
  }
}

#box_community img { width: 200px; }
#box_community i { margin-right: 3px; }
#box_community p { margin-top: 10px; }

.template-communities #content,
.template-searchusers #content { background-color: white; }

#communitysearch, #librarysearch {
  padding: 10px;
  h2 {
    float: left;
    padding-left: 13px;
    margin-top: 13px;
  }
}

#communitysearch .portalMessage,
#communitysearch .alert,
#librarysearch .portalMessage,
#librarysearch .alert,
.portalMessage {
    margin: 0 auto 10px;
    width: 85%;
    clear: both;
}

#librarysearch {
  .searchbytagcontainer {
    float: right;
  }

}

#searchinputcommunities, #searchinputusers, #searchinputtags, #searchinputcontent {
  // margin-right: auto;
  margin-left: auto;
  width: 290px;
  padding-top: 10px;

  .searchInput {
    height: 20px;
    font-size: 13px;
    // line-height: 25px;
    margin-bottom: 15px;
    padding: 2px 5px;
    width: 280px;
  }

  .add-on {
    color: #888888;
    background-color: white;
    border: none;
    font-size: 15px;
    position: relative;
    right: 28px;
    top: 2px;
    z-index: 10;
    padding:2px;
  }
}

#userlist {
  min-height: 10px;
  ul {
    list-style: none;
  }

  a:hover {
    text-decoration: none;
  }

  li {
    background-color: white;
    margin-bottom: 2px;

    p {
      color: #333;
      line-height: 1em;

      span {
        margin-left: 5px;
      }
    }

    .usuari_petit {
      font-size: 0.8em;
      font-weight: 400;
      color: black;
    }
    .photo {
      margin: 10px;
      display: block;
    }
  }
  .fa {
    border: 1px solid;
    border-radius: 21px;
    color: #555555;
    font-size: 11px;
    margin-right: 10px;
    min-width: 13px;
    padding: 4px 3px;
    text-align: center;
  }
  .fa:hover {
    color: #F58D3D;
  }
  li p span {
    font-size: 13px;
    margin-left: 0;
  }
}

#box_comunitats {
  .bubble-content {
    padding: 6px 0px;
    width: 40px;
    text-align: center;
    background: none repeat scroll 0 0 #f58d3d; }

  .bubble {
    a {
      // padding: 6px 14px ;
      color: white;
      font-weight: 600; // Semi-bold
      height: 18px;
      // text-shadow: 1px 1px 0 #92480F;
      width: 33px;
    }
    .arrow { border-right-color: #f58d3d; }
  }

  i { margin-right: 3px; }

  li a { @include border-radius(0px); }
}

.bubble.top .arrow:after { border-top-color: transparent; }
.bubble.right .arrow:after { border-right-color: transparent; }
.bubble.left .arrow:after { border-left-color: transparent; }

#box_stats {
  .bubble-content { padding: 5px 12px; text-align: center; }
  .bubble {
    background-color: #344961;
    color: white;
    width: 60px;
    .arrow { border-left-color: #344961; }
  }
  p {
    margin: 0;
    padding: 5px 0 5px 78px;
    background-color: #deded6;
    font-weight: bold;
    text-transform: capitalize;
  }
  ul { margin-top: 5px; margin-left: 0px; list-style: none;}
  li {
    margin-bottom: 5px;
  }
  li:last-child {
    margin-bottom: 0px;
  }
}
.modal.fade.in { top: 40%; }

#addModal, #editModal {
  .modal-body { max-height: 600px; }
  #content-core { height: auto; }

}

.template-profile {
  #content {
    background-color: white;
    padding: 10px 20px;
  }

  .badges { padding-left: 5px; }
}

// OJO! si canviem el nom de la seccio d'esdeveniments ha de canviar
.subsection-esdeveniments,
.subsection-eventos,
.subsection-events,
.subsection-discussion {
  #menusup {max-width: 726px;}
}

.contentaddtoolbar {
  margin-top: 10px;
  text-align: center;
}

#box_econnect {
  a { margin-top: 10px; padding:10px 0}
}

.communitylinks,
.discussionlinks {
  margin-left: 3px;
  li {
    list-style: none;
  }
}

.userslinks {
  margin-left: 3px;
  li {
    list-style: none;
  }
}

.favoritedisabled i {color: #eee}
#communitylist .anycommunities a {color: #007BC0}

.template-personal-information {
  .customfile { clear: both; }
}

#box_thinkers.ulearnbox {
   padding: 5px 5px 10px 10px;
}

#box_thinkers {
  i { margin-right: 3px; }
}

label[for="form.ext_editor"] ~ div.widget {
  display: none;
}

#login-forgotten-password {
  text-align: center;
  margin-top: 10px;
}

.portaltype-ulearn-oportunity li > a#plone-contentmenu-workflow {
  display: block;
}

.directori_usuari_foto {
  width: 21%;
  margin: 2%;
  float: left;
  height: 100px;
  overflow-y: hidden;

  img {
    width: 100%;
  }

}

#tagslist {
  min-height: 10px;
  font-size: 13px;
  color: #555;
  text-shadow: 1px 1px 0px white; }
  #tagslist .eines {
    color: #34495E;
    font-size: 18px;
    text-decoration: none; }
    #tagslist .eines i {
      padding-right: 2px; }
  #tagslist ul {
    margin-left: 0;
    list-style: none; }
  #tagslist li {
    min-height: 55px;
    line-height: 20px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-top: 10px;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: none; }
  #tagslist a {
    color: #555;
    text-decoration: none; }
    #tagslist a h4 {
      color: #F58D3D;
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 0; }
      #tagslist a h4:hover {
        opacity: 0.8; }
  #tagslist img {
    margin-top: 3px;
    border: 2px solid white;
    max-width: 54px; }
    #tagslist img:hover {
      transition: all 0.25s ease 0s;
      border: 2px solid #F58D3D; }

//CSS per gebropharma

.gebropharma-accessos-directes {
  margin-top: 7px;
}

.gebropharma-biblioteca {
  margin-right: 10px;
}

.gebropharma-campus {
  margin-right: 50px;
}

#librarysearch h2 {
  float: left;
  margin-top: 13px;
  padding-left: 0;
}

#librarysearch #searchinputcontent {
  padding-top: 5px;
}

.searchbytagcontainer .searchInput {
  font-size: 15px;
  height: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 0;
  vertical-align: middle;
  width: 99%;
}

#searchinputcontent .searchInput {
  font-size: 18px;
  height: 20px;
  margin-bottom: 15px;
  padding: 13px 5px 13px 10px;
  vertical-align: middle;
  width: 97%;
}
#librarysearch .searchbytagcontainer {
  float: left;
  margin-bottom: 30px;
  width: 100%;
}


#librarysearch #searchinputcontent {
  padding-top: 5px;
  width: 100%;
}

#searchinputcontent .add-on {
  background-color: #FFFFFF;
  border: medium none;
  color: #BBBBBB;
  font-size: 24px;
  padding: 2px;
  position: relative;
  right: 38px;
  top: 9px;
  z-index: 10;
}
.caixessearch > h3 {
  color: #777777;
  margin-top: 0;
}


.caixessearch {
  background: none repeat scroll 0 0 #F5F5F5;
  margin-bottom: 10px;
  min-height: 160px;
  padding: 10px;
}

.select2-drop-active {
  border: none;
  border-top: none;
}

.searchbytagcontainer .select2-choices {
  border: 0 none;
}

.select2-container-multi.select2-container-active .select2-choices {
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.searchbytagcontainer .select2-search-choice {
  color: #777777;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  text-shadow: 1px 1px 1px #FFFFFF;
}

#librarysearch .documentDescription {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 18px;
}

.icon-ulearn-discussion {@extend .fa-comments; @extend .fa; }
.icon-ulearn-video {@extend .fa-video-camera; @extend .fa; margin-top: 2px}

.documentByLine {
  .creator_image_byline {
    height: 24px;
    margin-bottom: 15px;
    margin-right: 2px;
    vertical-align: top;
    width: 24px;
    @include border-radius(50%);
  }
}
.discussion {
  background-color: white;
  padding: 10px;
  .comment { clear: both; padding: 10px; }
  .replyTreeLevel0 {
    margin: 0;
    // padding: 10px;
    box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.25);
  }
  .cimage img {
    width: 40px;
    height: 40px;
    @include border-radius(50%);
    float: left;
    vertical-align: top;
    margin-right: 10px;
  }
  .commentDate { padding-top: 0; }
  .cbyline {}
  .reply-to-comment-button { margin: 0; }
}

#commenting {
  background-color: white;
  padding: 10px;
}

.subsection-discussion {
  // Do not allow user to change views for discussion folder
  #plone-contentmenu-display { display: none; }
}

#discussionfolderview {
  ul { list-style: none; margin: 0; }
  a { text-decoration: none; }
  li {
    box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    &:first-child { box-shadow: none; }
  }
  .cimage img {
    width: 40px;
    height: 40px;
    @include border-radius(50%);
    float: left;
    vertical-align: top;
    margin-right: 10px;
  }
  .commentDate { padding-top: 0; }
  .cbyline {}
  .reply-to-comment-button { margin: 0; }
}

#box_discussion {
  .cimage img {
    width: 40px;
    height: 40px;
    @include border-radius(50%);
    float: right;
    vertical-align: top;
    margin-right: 10px;
  }
  ul.lastdiscussion {
    list-style: none;
    margin: 0;
    li {
      padding-bottom: 10px;
    }
  }
  p {
    margin-top: 0;
    border-top: 1px solid #EEEEEE;
    a { margin-top: 10px; padding:10px 0}
    i { margin-right: 3px; }
  }

  li {
    i { color: #34495E; }
  }
}
#communitylist .eines i {
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
body {
    background: none repeat scroll 0 0 white;
}
.ulearnbox {
    background-color: white;
    box-shadow: none;
    clear: both;
    margin-bottom: 10px;
    padding: 0;
    position: relative;
}
.osomcorner-wrapper {display: none;}
nav#portal-personaltools-wrapper { 
  margin-top: 0px!important; 
}
#portal-header {
    background: none repeat scroll 0 0 #f58d3d!important;
}
#portal-header h1.pull-left {
    margin-bottom: 0;
}
#portal-header h1.pull-left img {
    height: 55px;
    margin-top: 0;
    padding-top: 10px;
}
#menusup {
    height: 190px;
}
.template-homepage #menusup {
    height: 105px;
}
.template-event_view #menusup {
    height: 235px;
}
#communitylist img {
        float: left;
    margin-right: 15px;
}
#communitylist li {
  position: relative;
}
#communitylist .eines {
    position: absolute;
    right: 0;
    top: 15px;
}
#communitylist a h4 {
  margin-top: -10px;
}
#communitysearch h2, #librarysearch h2 {
    float: left;
    margin-top: 13px;
    padding-left: 0;
}
#searchinputcommunities, #searchinputusers, #searchinputtags, #searchinputcontent {
    clear: both;
    margin-left: 0;
    padding-top: 10px;
    width: 100%;
}
#searchinputcommunities .searchInput, #searchinputusers .searchInput, #searchinputtags .searchInput, #searchinputcontent .searchInput {
    font-size: 13px;
    height: 20px;
    margin-bottom: 0;
    padding: 2px 5px;
    width: 95%;
}
#portlet-prefs, .documentEditable, .template-overview-controlpanel #content {
    background-color: white;
    padding: 0;
}
.documentByLine {
    font-size: 85%;
    margin-bottom: 11px;
}
}
@media only screen and (max-width: 480px) {
  #menusup nav .bubble {
      float: left;
      width: 50%;
      border-right: 1px solid white;
  }
  #menusup nav .bubble {
      float: left;
      font-size: 13px;
      width: 25%;
  } 
  .template-homepage #menusup nav .bubble {
      float: left;
      font-size: 13px;
      width: 50%;
  }  
  #menusup {
      height: 55px;
  }
  .template-homepage #menusup {
      height: 55px;
  }
  #day .arrow {
      border-left-color: #f58d3d;
      display: none;
  }
  .bubble.left {
      margin-right: 0;
  }
  #menusup nav i {
    display: none;
  }
  #menusup nav a {
    font-size: 13px
  }
}